@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
.SideBar {
  background-color: rgba(186, 24, 177, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 800%;
  z-index: 200;
  padding: 32px 16px;
  animation-name: example;
  animation-duration: 0.7s;
  width: 100%;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
ul a li {
  margin: 2rem 0;
  font-size: 2rem;
  font-family: poppins;
  font-weight: 900;
  cursor: pointer;
}
@keyframes example {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
